@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
#inicio{
	background-image: url("../images/inicio.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
#main-body{
	
	background-image: url('../images/back.jpg');
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
	
}
.formcon{
	margin-top: 40px;
	
}

.formcon h3{
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-family: Georgia, serif;
	font-weight: bold;
	margin-bottom: 30px;
}
#form1{
	font-family: Zapf Chancery, cursive;
	
}
